include ../../template/_mixins
include ./uploads.helper.mixins.pug

.theme-light
	.modal-header
		h1.h--no-margin.h--small <strong>{{ vm.backglass.game.title }}</strong> Moderation

	.modal-body
		img.img.img--rounded.loaded.padder-bottom.fullwidth(
			ng-src="{{ vm.backglass.versions[0].file.variations['full'].url }}"
		)
		button.btn.btn-hollow(ng-click="vm.downloadBackglass(vm.backglass.versions[0].file)")
			+icon('download').space-right
			span.space-right Download
		.small.pull-right
			+icon('photo-size').shift-up-2x.space-right
			span.space-right-2x Native size: {{ vm.backglass.versions[0].file.variations.full.width }} &times;  {{ vm.backglass.versions[0].file.variations.full.height }}

		+info('vm.backglass')
		+authors('vm.backglass')
		+history('vm.backglass')
		+message('vm', 'vm.backglass', false)

		.clearfix.padder-top
	.modal-footer
		+footer('vm', 'vm.backglass')