include ../../template/_mixins
include ./uploads.helper.mixins.pug

.theme-light
	.modal-header
		h1.h--no-margin.h--small <strong>{{ vm.release.game.title }}</strong> Moderation

	.modal-body

		h3.h--shift-up.h--no-margin
			| {{ vm.release.name }}
			.pull-right
				a.btn.shift-up(ui-sref="releaseDetails({ id: vm.release.game.id, releaseId: vm.release.id })", ng-click="$dismiss()")
					+icon('eye').space-right
					| Details
		+info('vm.release')
		+authors('vm.release')
		+blockmatches('vm', 'vm.release')
		+history('vm.release')

		.clearfix.padder-top
	.modal-footer
		+footer('vm', 'vm.release')