include ../../template/_mixins

.row.row--fullheight

	//- main column
	.col-sm-9.col--main
		h1.h--primary Games
		hr

		//- number of games counter
		.pull-left(ng-show="vm.games.length > 0 && !vm.status.loading && !vm.status.offline")
			span.small {{ vm.pagination.count }} GAME{{ vm.pagination.count == 1 ? '' : 'S' }}

		//- loading
		.pull-left(ng-show="vm.status.loading")
			+icon('circle-o-notch').small.svg-spin.space-right.shift-up
			| Loading...

		//- offline
		.pull-left(ng-show="vm.status.offline")
			+icon('offline').small.space-right
			| You seem to be offline.
			a.space-left(ng-click="vm.refresh()") Retry

		//- pagination
		.pull-right(ng-show="vm.games.length > 0")
			+paginator('vm.pagination', 'vm.paginate')

		.clearfix.padder-bottom(ng-show="vm.games.length > 0")

		//- no games
		p(ng-show="!vm.games.length && !vm.status.loading && !vm.status.offline") No games found.


		//- content
		.row.ng-cloak
			.fade2-animation
				.col-md-4.col-sm-6.col-xs-12.fade-animation(ng-repeat="game in vm.games", ui-sref="gameDetails({ id: game.id})")
					.panel.panel--animated.ng-cloak
						.img.img--ar-bg.img--rounded-top(img-bg="vm.App.img(game.backglass, 'small')")
						.img.img--ar-bg.img--rounded-top.img--placeholder.loaded
						.text-center.padder-horizontal
							h1.h--small {{ game.title }}
							label.label--subtitle {{ game.manufacturer }} &middot; {{ game.year }}

		.content-end

	//- right side menu
	.col-sm-3.col--menu
		h1 Filter
		hr

		// search box
		.input-group.padder-bottom
			span.input-group-addon.input-group-addon--search
				+icon('search').smaller
			input.form-control.input--search(ng-model="vm.query.q", type="text", placeholder="Search")

		input#includeEmptyGames.checkbox--toggle(type='checkbox', ng-model="vm.query.includeEmptyGames")
		label(for="includeEmptyGames")
		label.a.a--light.padder-bottom(for="includeEmptyGames") Include empty games
		.clearfix

		.panel-group--transparent(uib-accordion, close-others="false")

			// year filter
			panel--inner(uib-accordion-group, is-open="vm.filterDecadesOpen")
				div(uib-accordion-heading) by Year
				.row
					.col-xs-6.text-center.a(filter-array="1960", ng-model="vm.query.filterDecades") 1960s
					.col-xs-6.text-center.a(filter-array="1970", ng-model="vm.query.filterDecades") 1970s
					.col-xs-6.text-center.a(filter-array="1980", ng-model="vm.query.filterDecades") 1980s
					.col-xs-6.text-center.a(filter-array="1990", ng-model="vm.query.filterDecades") 1990s
					.col-xs-6.text-center.a(filter-array="2000", ng-model="vm.query.filterDecades") 2000s
					.col-xs-6.text-center.a(filter-array="2010", ng-model="vm.query.filterDecades") 2010s

			// manufacturer filter
			.panel--inner(uib-accordion-group, is-open="vm.filterManufacturerOpen")
				div(uib-accordion-heading) by Manufacturer
				.row
					.col-xs-6.text-center.a(filter-array="Bally", ng-model="vm.query.filterManufacturer") Bally
					.col-xs-6.text-center.a(filter-array="Capcom", ng-model="vm.query.filterManufacturer") Capcom
					.col-xs-6.text-center.a(filter-array="Stern", ng-model="vm.query.filterManufacturer") Stern
					.col-xs-6.text-center.a(filter-array="Williams", ng-model="vm.query.filterManufacturer") Williams
					.col-xs-6.text-center.a(filter-array="Gottlieb", ng-model="vm.query.filterManufacturer") Gottlieb
					.col-xs-6.text-center.a(filter-array="Data East", ng-model="vm.query.filterManufacturer") Data East

		h1 Sort
		hr
		ul.list--sort-options
			li.a.asc(sort="title", sort-default="asc", ng-model="vm.query.sort") Name
			li.a(sort="year", sort-default="asc", ng-model="vm.query.sort") Year
			li.a(sort="rating", sort-default="desc", ng-model="vm.query.sort") Rating
			li.a(sort="popularity", sort-default="desc", ng-model="vm.query.sort") Popularity

		//-- UPLOAD BUTTONS
		//---------------------------------------------------------------------
		.panel--rect-block.padder-top-2x(ng-show="vm.AuthService.hasPermission('games/add')")
			h1.text-center UPLOAD
			.center
				ul.ul--no-list
					li: a.text-center(ui-sref="addGame")
						+icon('plus-circle').space-right.shift-up
						| Add Game
			p.padder-top
