server {

	listen 443 ssl http2;
	server_name vpdb.io;
	root /var/www/website/production/current/dist;
	index index.html;

	charset utf-8;

	# path to your certs and chain of trust of OCSP response using Root CA and Intermediate certs
	ssl_certificate         /etc/letsencrypt/live/vpdb.io/fullchain.pem;
	ssl_certificate_key     /etc/letsencrypt/live/vpdb.io/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/vpdb.io/chain.pem;

	include /etc/nginx/snippets/ssl.nginx;

	# cache config
	set $cache_dynamic "no-cache";
	set $cache_forever "no-transform,public,max-age=31536000";
	set $cache_favicon "no-transform,public,max-age=604800";

	# logs
	error_log /var/log/nginx/www.vpdb.io-error.log;
	access_log /var/log/nginx/www.vpdb.io-access.log;

	# letsencrypt challenge
	include /etc/nginx/snippets/letsencrypt.nginx;

	# send <IE11 to hell
	if ($http_user_agent ~ "MSIE" ) {
		return 303 https://browser-update.org/update.html;
	}

	# site map
	location = /sitemap.xml {
		add_header Cache-Control $cache_dynamic;

		proxy_pass http://localhost:4004/api/v1/sitemap?url=https://vpdb.io;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection 'upgrade';
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_cache_bypass $http_upgrade;
	}

	# cache hashed files forever
	location ~ -([0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]|[0-9A-Za-z][0-9A-Za-z][0-9A-Za-z][0-9A-Za-z][0-9A-Za-z][0-9A-Za-z][0-9A-Za-z][0-9A-Za-z])\. {
		add_header Cache-Control $cache_forever;
	}

	location ~ favicon {
		add_header Cache-Control $cache_favicon;
	}

	location ~ sw\.js$ {
		add_header Cache-Control $cache_dynamic;
	}

	location ~ ^\/workbox- {
		add_header Cache-Control $cache_forever;
	}

	# map root to index
	location = / {
		add_header Cache-Control $cache_dynamic;
		include /etc/nginx/snippets/security.nginx;
		include /etc/nginx/snippets/cors_origin.nginx;
		try_files /index.html =404;
	}

	# map directories to index
	location ~ \/[^\.]*$ {
		add_header Cache-Control $cache_dynamic;
		include /etc/nginx/snippets/security.nginx;
		include /etc/nginx/snippets/cors_origin.nginx;
		try_files /index.html =404;
	}
}

# redirect to https
server {
	listen 80;
	server_name vpdb.io www.vpdb.io;
	return 301 https://vpdb.io$request_uri;
}
