include ../template/_mixins
include ../template/paginator

.row.row--fullheight(ng-controller="UploadsListAdminCtrl as vm")
	.col-sm-3.col--menu
		h1 Filter
		hr
		.panel-group--transparent(uib-accordion, close-others="false")

			//- flavor filters
			.panel--inner(uib-accordion-group, is-open="true")
				div(uib-accordion-heading) Show:
				ul.list--checkboxes.list--condensed
					li: .radio--lg: label
						input(type="radio", ng-model="filters.status", value="pending", ng-change="vm.refresh()")
						span Pending
					li: .radio--lg: label
						input(type="radio", ng-model="filters.status", value="refused", ng-change="vm.refresh()")
						span Refused
					li: .radio--lg: label
						input(type="radio", ng-model="filters.status", value="manually_approved", ng-change="vm.refresh()")
						span Manually Approved
					li: .radio--lg: label
						input(type="radio", ng-model="filters.status", value="auto_approved", ng-change="vm.refresh()")
						span Auto-approved
					li: .radio--lg: label
						input(type="radio", ng-model="filters.status", value="all", ng-change="vm.refresh()")
						span All

	.col-sm-9.col--main

		//-- RELEASES
		//---------------------------------------------------------------------
		div(ng-controller="UploadsReleaseListAdminCtrl as vm")
			h1.h--primary
				| Releases

				//- pagination
				.h--no-header.pull-right.space-left(ng-show="vm.releases.length > 0")
					+paginator('vm.pagination.releases', 'vm.paginate')

				//- loading
				.h--no-header.pull-right(ng-show="vm.status.releases.loading")
					+icon('circle-o-notch').small.svg-spin
			hr.hr--primary


			//- offline
			.pull-left(ng-show="vm.status.releases.offline")
				+icon('offline').small.space-right
				| You seem to be offline.
				a.space-left(ng-click="vm.refresh()") Retry

			// no results
			span(ng-show="vm.releases.length == 0 && !vm.status.releases.loading && !vm.status.releases.offline") No releases found.

			//- release list
			table.table.table-striped.table--selectable(ng-show="vm.releases.length > 0")
				colgroup
					col(width="60px")
					col
					col
				tr(ng-repeat="release in vm.releases", ng-click="vm.moderateRelease(release)")
					td.center
						+icon('{{ release.icon }}').svg-2x
					td {{ release.game.title }} <br/><b>{{ release.name }}</b>
					td(ng-bind-html="release.authors | authors")
					td.right {{ release.created_at | timeAgo }}

			.clearfix

		//-- BACKGLASSES
		//---------------------------------------------------------------------
		div(ng-controller="UploadsBackglassListAdminCtrl as vm")
			h1.h--primary
				| Direct B2S Backglasses

				//- pagination
				.h--no-header.pull-right(ng-show="vm.backglasses.length > 0")
					+paginator('vm.pagination', 'vm.paginate')

			hr.hr--primary

			//- backglass list
			table.table.table-striped.table--selectable(ng-show="vm.backglasses.length > 0")
				colgroup
					col(width="60px")
					col
					col
				tr(ng-repeat="backglass in vm.backglasses", ng-click="vm.moderateBackglass(backglass)")
					td.center
						+icon('{{ backglass.icon }}').svg-2x
					td {{ backglass.game.title }} <br/>Version {{ backglass.versions[0].version }}</b>
					td(ng-bind-html="backglass.authors | authors")
					td.right {{ backglass.created_at | timeAgo }}
			span(ng-hide="vm.backglasses.length > 0") No backglasses found.


		p.padder-top &nbsp;
