include ../template/_mixins

.row.row--fullheight(ng-controller="UserListAdminCtrl as vm")
	.col-sm-3.col--menu
		h1 Filter
		hr
		// search box
		.input-group.padder-bottom
			span.input-group-addon.input-group-addon--search
				+icon('search').smaller
			input.form-control.input--search(ng-model="vm.query", type="text", placeholder="Search")

		.panel-group--transparent(uib-accordion, close-others="false")

			// role filter
			div(uib-accordion-group, is-open="filterYearOpen")
				div(uib-accordion-heading) by Role
				ul.list-group.list-group--simple
					li.a.a--lighter.list-group-item(ng-repeat="role in vm.roles", filter-role="{{ role.id }}") {{ role.name }}

	.col-sm-9.col--main
		h1.h--primary Users
		hr.hr--primary

		table.table.table-striped.table--selectable
			tr(ng-repeat="user in vm.users", ng-click="vm.edit(user)", ng-class="{ inactive: !user.is_active }")
				td {{ user.name }}
				td {{ user.email }}
				td {{ user.roles.join(' ') }}
				td {{ user.plan.id }}
		span(ng-hide="vm.users.length > 0") No users found.