*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.iml

/dist
/test
/node_modules
/coverage
/report
.firebase

gitinfo.json
raml.json
postman*.json
stats.json

.idea/bashsupport_project.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/markdown-navigator*
.idea/modules.xml
.idea/dbnavigator.xml
.idea/scopes/
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/preferred-vcs.xml
.idea/codeStyles/Project.xml
.idea/mongoSettings.xml