*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.iml

/dist
/node_modules
/coverage

gitinfo.json
raml.json
postman*.json

.idea/bashsupport_project.xml
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/modules.xml
.idea/scopes/
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/mongoSettings.xml