include ../template/_mixins
include build.form.pug

.theme-light
	.modal-header
		h1.h--small.h--no-margin
			+icon('package').space-right
			| Update Build <strong>{{ vm.id }}</strong>
	.modal-body

		+buildForm(true)

		h3 Referenced Releases
		div(ng-repeat="release in vm.releases")
			.panel.padder-bottom
				.clearfix
				.img.img--ar-square.img--xs.img--rounded-left.pull-left.space-right(img-bg="release.thumb.image.url")
				a.a.a--lighter.list--oneliner(ui-sref="releaseDetails({id: release.game.id, releaseId: release.id})", ng-click="$dismiss()") <b>{{ release.game.title }}</b> &middot; {{ release.name }}
				.clearfix
		p(ng-show="vm.releases.length === 0")
			i No referenced releases found.
			button.btn.btn-hollow.pull-right(ng-click="vm.delete(build)") Delete Build
		p(ng-show="vm.pagination.count > vm.pagination.size"): i: a.a.a--lighter(ui-sref="releases({ builds: build.id })") Browse all ~{{ vm.pagination.count }} releases.
		.clearfix

	.modal-footer
		button.btn.btn-hollow.pull-left(ng-click="$close()") Cancel
		button.btn.btn-default.space-right(ng-click="vm.reset()") Reset
		button.btn.btn-primary(ng-click="vm.save()") Update
