include ../../template/_mixins

div(ng-if="vm.games && vm.games.length > 0")
	h1 Games
	hr
	table.table.table-striped.table--selectable
		thead
			tr
				th Game
				th When
				th Releases
		tbody
			tr(ng-repeat="game in vm.games", ng-click="vm.gotoGame(game)")
				td
					b {{ game.title }}
					span &nbsp;({{ game.manufacturer }} {{ game.year }})
				td {{ game.created_at | timeAgo }}
				td {{ game.counter.releases }}

div(ng-if="vm.releases && vm.releases.length > 0")
	h1 Releases
	hr
	table.table.table-striped.table--selectable
		thead
			tr
				th Name
				th When
				th Status
		tbody
			tr(ng-repeat="release in vm.releases", ng-click="vm.gotoRelease(release)")
				td
					span {{ release.game.title }} ({{ release.game.manufacturer }} {{ release.game.year }})
					b &nbsp;· {{ release.name }}
				td {{ release.released_at | timeAgo }}
				td {{ vm.getModerationStatus(release.moderation) }}

