/*
 * VPDB - Virtual Pinball Database
 * Copyright (C) 2019 freezy <freezy@vpdb.io>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

@import 'variables';
@import 'mixins';

// Modals
//

// :modals
.modal-dialog
	overflow hidden
	.modal-content
		border-radius 3px
		.modal-header
			border-radius 3px 3px 0 0
			padding-left 15px
			padding-top 10px
			padding-right 20px
			padding-bottom 10px
	// Title margin before title when avatar is displayed
	.img--avatar-header + h1
		margin-left 100px

	.modal-body
		padding-left 20px
		padding-right 20px
		.indent
			margin-left 100px
			& + hr
				margin-top 20px
		.btn.btn-lg + .btn.btn-lg
			margin-left 20px

	.modal-footer
		border-radius 0 0 3px 3px
		margin-top 0
.modal--with-overflow > .modal-dialog
	overflow visible

.modal-dialog > .modal-content > .modal--lightbox > .modal-body
	padding-left 5px
	padding-right 5px
	padding-top 5px
	text-align center

// accordion panels in modals
.modal-body > uib-accordion > .panel-group > .panel > .panel-collapse
	margin-left -5px
	margin-right -5px

	// TODO: Remove when fixed: https://github.com/angular-ui/bootstrap/issues/2970
.modal-backdrop
	position fixed
	bottom 0

.modal-dialog .alert.alert--modal-top-alert
	margin-top -16px
	background-color alpha($color-background, 0.8)
	color rgba(white, 0.6)
	& svg.svg-icon
		fill rgba(white, 0.6)

// lightbox
.mfp-bg
	z-index 2999
.mfp-wrap
	z-index 3000
