/*
 * VPDB - Virtual Pinball Database
 * Copyright (C) 2019 freezy <freezy@vpdb.io>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

.ribbon
	line-height .8em
	font-size $font-size-normal
	text-align center
	font-weight bold
	text-shadow 1px 1px 5px rgba(0,0,0,.15)
	display block
	width 60px
	height 30px
	background linear-gradient(to bottom, #a7a7a7 0%, #c2c2c2 100%)
	color white
	padding-top 10px
	position absolute
	-webkit-filter drop-shadow(0 2px 2px rgba(0,0,0,0.25))
	transform translate3d(0, 0, 0) //what gives? filters make text blurry :(
	top 0
	left 15px

	&:after
		content ""
		width 0
		height 0
		border-right 3rem solid transparent
		border-left 3rem solid transparent
		border-top 1.5rem solid #c2c2c2
		position absolute
		top 30px
		left 0
