/*
 * VPDB - Virtual Pinball Database
 * Copyright (C) 2019 freezy <freezy@vpdb.io>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

@import 'variables';

.gl-container
	position relative

#gl-view
	height: 92vh;
	min-width: 320px;
	min-height: 160px;
	position: relative;
	margin-left -15px
	margin-right -15px
	margin-top -50px
	overflow: hidden;
	z-index: 0;

.info-block
	z-index 1
	position absolute
	margin-top 30%
	width 100%
	left 0
	text-align center
	& > div
		width 50%
		text-align left
		border-radius $border-radius-large
		background-color $color-darkest
		display inline-block
		padding 30px
		h3
			margin-top 0
			margin-bottom 30px

		.progress
			margin-top 15px
			margin-bottom 0
			.progress-bar
				background-color $color-darker
	&.info-block--error > div
		border 2px solid $color-danger-dark
		h3
			color $color-danger-dark
			svg.svg-icon
				fill $color-danger-dark


.preview-controls
	position absolute
	bottom -8px
	left -15px
	right -15px
	height 52px
	border-top 1px solid $color-primary;
	svg.svg-icon
		fill  $color-darker
	&.loaded
		svg.svg-icon
			fill $color-lightish

	ul.dropdown-menu
		bottom 71px
		position relative
		left auto
		right 89px

	@media (max-width: $bootstrap-screen-sm-min)
		height 120px


.option-block
	h4
		margin-bottom 20px
	border: 1px solid $color-primary;
	right -15px
	bottom 0
	position absolute
	width 175px
	height 575px
	background-color  $color-navbar
	padding 15px

.rzslider
	width 90%
	margin-left 15px
	margin-top 20px

	.rz-pointer
		width 20px
		height 20px
		background-color $color-primary
		top -9px
		&:after
			top 6px
			left 6px
			background transparent
		&.rz-active:after
			background transparent
		&:hover:after
			background transparent

		&:focus
			outline none

	.rz-bar
		background-color $color-darker

	&[disabled] .rz-pointer
		cursor default
		background-color #403f3d