include template/_mixins

nav.navbar.navbar-default.navbar-fixed-top(ng-cloak, ng-init="navCollapsed = true", role="navigation")
	.container
		.navbar-header
			button.a--lighter.navbar-toggle(type="button", ng-click="navCollapsed = !navCollapsed")
				+icon('bars').space-right
				| Menu
			span.navbar-brand
				a(href="/", ng-click="navCollapsed = true")
					+icon('vpdb-o').logo
					+icon('logo-vp').logo-vp
					+icon('logo-db').logo-db
					span.logo-beta BETA

		.navbar-collapse(uib-collapse="navCollapsed")

			//- main menu
			//-------------------------------------------
			ul.nav.navbar-nav
				li(ng-class="{ active: menu == 'home' }")
					a(ui-sref="home", ng-click="navCollapsed = true") Home
				li(ng-class="{ active: menu == 'games' }")
					a(ui-sref="games", ng-click="navCollapsed = true") Games
				li(ng-class="{ active: menu == 'releases' }")
					a(ui-sref="releases", ng-click="navCollapsed = true") Releases
				li.uib-dropdown(ng-class="{ active: menu == 'admin' }", ng-show="vm.AuthService.hasRole(['root', 'admin', 'moderator'])", uib-dropdown)
					a.space-right.uib-dropdown-toggle(uib-dropdown-toggle)
						span.space-right-2x Admin
						+icon('angle-down').smaller.shift-up
					ul.uib-dropdown-menu(role="menu", uib-dropdown-menu)
						li(ng-show="vm.AuthService.hasPermission('*/moderate')")
							a(ui-sref="adminUploads", ng-click="navCollapsed = true")
								+icon('upload').space-right.shift-up
								span Uploads
						li(ng-show="vm.AuthService.hasPermission('users/update')")
							a(ui-sref="adminUsers", ng-click="navCollapsed = true")
								+icon('users').space-right.shift-up
								span Users
						li(ng-show="vm.AuthService.hasPermission('builds/update')")
							a(ui-sref="adminBuilds", ng-click="navCollapsed = true")
								+icon('package').space-right.shift-up
								span Builds

			ul.nav.navbar-nav.navbar-right

				//- upload menu
				//-------------------------------------------
				li.uib-dropdown(ng-show="(vm.AuthService.hasPermission('releases/add') || vm.AuthService.hasPermission('games/add') || vm.AuthService.hasPermission('backglasses/add')) && themeName === 'theme-dark'", uib-dropdown)
					//a#upload-btn1.btn.btn-hollow.uib-dropdown-toggle(uib-dropdown-toggle) Upload
					a#upload-btn.uib-dropdown-toggle(uib-dropdown-toggle)
						span.hidden-sm.btn.btn-hollow Upload
						span.visible-sm-inline
							span: +icon('upload-circle').svg-2x.shift-up.space-right
							+icon('angle-down').smaller.shift-up
					ul.uib-dropdown-menu(uib-dropdown-menu)
						li(ng-show="vm.AuthService.hasPermission('games/add')")
							a#upload-game-btn(ui-sref="addGame", ng-click="navCollapsed = true")
								span Game Data
						li(ng-show="vm.AuthService.hasPermission('releases/add')")
							a#upload-release-btn(ng-click="vm.uploadRelease(); navCollapsed = true")
								span Recreation
						li(ng-show="vm.AuthService.hasPermission('backglasses/add')")
							a#upload-backglass-btn(ng-click="vm.uploadBackglass(); navCollapsed = true")
								span Direct B2S

				//- login / logout
				//-------------------------------------------
				li(ng-hide="vm.AuthService.isAuthenticated")
					a#login-btn(ng-click="vm.login()")
						+icon('lock').small.space-right.shift-up
						span.space-right Login <small>or Register</small>
				li.uib-dropdown(ng-show="vm.AuthService.isAuthenticated", uib-dropdown)
					a.space-right.uib-dropdown-toggle(uib-dropdown-toggle)
						img.img-avatar.img-avatar--xsm.space-right(gravatar-src="vm.AuthService.user.gravatar_id", gravatar-default="retro")
						span#logged-user.space-right-2x.hidden-sm {{ vm.AuthService.user.name }}
						+icon('angle-down').smaller.shift-up
					ul.uib-dropdown-menu(uib-dropdown-menu)
						li
							a(ui-sref="profile.settings", ng-click="navCollapsed = true")
								+icon('user').space-right.shift-up
								span Profile
						li
							a#logout-btn(ng-click="vm.AuthService.logout(); navCollapsed = true")
								+icon('exit').space-right.shift-up
								span Logout

div(ng-repeat="(id, notification) in notifications track by id")
	growl-notification(ttl="notification.ttl").ns-effect-slide.ns-type-notice
		+icon('times').a.ns-close(ng-click="$growlNotification.remove()")
		span(ng-bind-html="notification.message")
.container.container--topmost(ng-cloak)

	//- session timeout notice
	section#timeoutNotice.uib-collapse(uib-collapse="timeoutNoticeCollapsed")
		label
			+icon('info').small.shift-up.space-right
			| You have been inactive for too long and need to login again.
		.pull-right
			a(ng-click="timeoutNoticeCollapsed = true")
				+icon('times').small.shift-up.space-right

	.alert.alert-info(ng-show="vm.showRulesUpdated")
		| Hey, we've just updated our <a ui-sref="rules">site rules</a>.&nbsp;
		span(ng-show="!vm.showPrivacyUpdated && !vm.showLegalUpdated") By continuing to browse the site you are agreeing to the changes.
		.pull-right: a(ng-click="vm.showRulesUpdated = false"): +icon('times').small.shift-up-less.space-right

	.alert.alert-info(ng-show="vm.showPrivacyUpdated")
		| {{ vm.showRulesUpdated ? 'W' : 'Hey, w' }}e've {{ vm.showRulesUpdated ? 'also ' : '' }}updated our <a ui-sref="privacy">privacy policy</a>.&nbsp;
		span(ng-show="!vm.showLegalUpdated") By continuing to browse the site you are agreeing to {{ vm.showRulesUpdated ? 'all' : 'the' }} changes.
		.pull-right: a(ng-click="vm.showPrivacyUpdated = false"): +icon('times').small.shift-up-less.space-right

	.alert.alert-info(ng-show="vm.showLegalUpdated")
		| {{ vm.showRulesUpdated || vm.showPrivacyUpdated ? 'W' : 'Hey, w' }}e've {{ vm.showRulesUpdated || vm.showPrivacyUpdated ? 'also ' : '' }}updated our <a ui-sref="legal">terms of use</a>.&nbsp;
		span By continuing to browse the site you are agreeing to {{ vm.showRulesUpdated || vm.showPrivacyUpdated ? 'all' : 'the' }} changes.
		.pull-right: a(ng-click="vm.showLegalUpdated = false"): +icon('times').small.shift-up-less.space-right

	//- -----------------------------------------------------------------------------
	//- content
	| <div ui-view></div>
	//- end content
	//- -----------------------------------------------------------------------------

	footer
		.text-center
			a.space-right.space-left(href="https://www.gameex.info/forums/forum/65-vpdb-support-forum/") Forum
			a.space-right.space-left-2x(ui-sref="rules", ng-class="{ active: menu == 'rules' }") Rules
			a.space-right.space-left-2x(ui-sref="faq", ng-class="{ active: menu == 'faq' }") FAQ
			a.space-right.space-left-2x(ui-sref="legal", ng-class="{ active: menu == 'legal' }") Legal
			a.space-left-2x(ui-sref="privacy", ng-class="{ active: menu == 'privacy' }") Privacy Policy
			a.space-right.space-left-2x(href="https://developer.vpdb.io/") Develop
			a.space-right.space-left-2x(ui-sref="about", ng-class="{ active: menu == 'about' }") About

.spinner-overlay.fade-animation(ng-show="loading", ng-cloak)
	.spinner

script(type="text/ng-template", id="user-item.html")
	small.user-mention-info(ng-show="typedTerm.length < 3")
		+icon('info').shift-up.space-right-less
		| Type 3 characters in order to search for a user
	ul.list-group.list-group--users
		li.list-group-item(mentio-menu-item="person", ng-repeat="person in items | filter: '!!'")
			img.img-avatar.img-avatar--xsm.pull-left.space-right(gravatar-src="person.gravatar_id", gravatar-default="retro", fallback-icon="user")
			div.pull-left(ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe")
			.clearfix