include ../template/_mixins

.row.row--fullheight(ng-controller="ReleaseAddCtrl as vm")
	.col-sm-9.col--main

		.alert.alert-danger.no-space-top(ng-show="vm.game.restrictions.release.mpu")
			+icon('warning').space-right.shift-up
			b Game Restriction <br>
			| This is a {{ vm.game.mpu.short }} game. In order to respect the industry, we don't allow users to download {{ vm.game.mpu.short }} games. You still can upload releases but be aware that only you will able to see them until the situation changes.

		.alert.alert-danger.no-space-top(ng-show="!vm.AuthService.isAuthenticated")
			+icon('warning').space-right.shift-up
			b Not logged! <br>
			| You gotta be logged in to upload files. You can do that by clicking on the "login" link on the top right side.

		h1.h--primary Add a new Release
		hr.hr--primary

		.alert.alert--rounded.alert--aligned(ng-show="vm.showHelp")
			+icon('info')
			p(ng-hide="vm.game.restrictions.release.mpu") We're excited to host your release! What you're going to need is the table file and a high resolution screenshot, but we'll guide you through that below.
			p If this is the first time you're uploading a release, read carefully through the instructions. You can hit refresh or quit this page (even the browser) and what you've entered will be restored any time you come back.

		h1 1. Upload Files
		hr
		include release.add-01-upload.files.pug

		h1 2. Name your Release
		hr
		include release.add-02-name.pug

		h1 3. Define your Flavors
		hr
		include release.add-03-flavors.pug

		h1 4. Describe your Release
		hr
		.form-group
			editor.tabset--light(ng-model="vm.release.description", placeholder="Description of the release", markdown-text="Markdown enabled. This will show up globally under your release.")
		include release.add-04-release.notes.pug

		h4
			+icon('user').shift-up.space-right
			| Authors
		hr.hr--light.hr--margin-small
		include release.add-04-authors.pug

		h4
			+icon('tags').shift-up.space-right
			| Tags
		hr.hr--light.hr--margin-small
		include release.add-04-tags.pug

		h4
			+icon('wrench').shift-up.space-right
			| Mod Permission
		hr.hr--light.hr--margin-small
		include release.add-04-mod.permission.pug

		h4
			+icon('link').shift-up.space-right
			| Links
		hr.hr--light.hr--margin-small
		include release.add-04-links.pug

		h1 5. Set Compatibility
		hr
		include release.add-05-compat.pug

		h1 6. Give Credits
		hr
		include release.add-06-credits.pug

		h1 7. Upload Media
		hr
		include release.add-07-upload.media.pug

		//------------------------- FINISH LINE -------------------------------
		//---------------------------------------------------------------------
		hr
		.alert.alert-danger.alert--inverted.padder-bottom(ng-show="vm.errors && vm.errors.__count")
			+icon('warning').shift-up.space-right
			| There were errors while submitting your release. Please scroll up and fix the marked fields.
		button.btn.btn-default.btn-lg(ng-click="vm.reset()", ng-disabled="!vm.AuthService.isAuthenticated") Reset
		button#submit-btn.btn.btn-primary.btn-lg.pull-right(ng-click="vm.submit()", ng-disabled="vm.submitting || !vm.AuthService.isAuthenticated") Add New Release
		.clearfix

		//- TODO fix
		p &nbsp;

	.col-sm-3.col--menu
		img.img--logo(ng-show="vm.game.logo.url", ng-src="{{ vm.App.img(vm.game.logo, 'medium') }}")
		h3.h--multiline.text-center {{ vm.game.title }}
		.text-center {{ vm.game.manufacturer }} · {{ vm.game.year }}

		hr
		input#showHelp.checkbox--toggle(type='checkbox', ng-model="vm.showHelp")
		label(for="showHelp")
		label.a.a--light.padder-bottom(for="showHelp") Show Instructions
		.clearfix
