include ../template/_mixins

.row.row--fullheight(ng-controller="GameListCtrl as vm")

	//- main column
	.col-sm-9.col--main
		h1.h--primary Games
		hr

		//- number of games counter
		.pull-left(ng-show="vm.games.length > 0")
			span.small {{ vm.pagination.count }} GAME{{ vm.pagination.count == 1 ? '' : 'S' }}

		//- pagination
		.pull-right(ng-show="vm.games.length > 0")

			span(ng-show="vm.pagination.links.first", ng-click="vm.paginate(vm.pagination.links.first)"): +icon('angle-left-skip').smaller.a.a--lighter
			span.space-left(ng-show="vm.pagination.links.prev", ng-click="vm.paginate(vm.pagination.links.prev)"): +icon('angle-left').smaller.a.a--lighter
			span.small.space-left PAGE &nbsp; {{ vm.pagination.page }} / {{ vm.pagination.pageCount }}
			span.space-left(ng-show="vm.pagination.links.next", ng-click="vm.paginate(vm.pagination.links.next)"): +icon('angle-right').smaller.a.a--lighter
			span.space-left(ng-show="vm.pagination.links.last", ng-click="vm.paginate(vm.pagination.links.last)"): +icon('angle-right-skip').smaller.a.a--lighter

		.clearfix.padder-bottom(ng-show="vm.games.length > 0")

		//- no games
		p(ng-show="!vm.games.length && !vm.loading") No games found.

		//- loading
		p(ng-show="vm.loading")
			+icon('circle-o-notch').small.svg-spin.space-right.shift-up
			| Loading...

		//- content
		.row.ng-cloak
			.fade2-animation
				.col-md-4.col-sm-6.col-xs-12.fade-animation(ng-repeat="game in vm.games", ui-sref="gameDetails({ id: game.id})")
					.panel.panel--animated.ng-cloak
						.img.img--ar-bg.img--rounded-top(img-bg="game.backglass.variations[vm.App.pixelSuffix('small')].url")
						.img.img--ar-bg.img--rounded-top.img--placeholder.loaded
						.text-center.padder-horizontal
							h1.h--small {{ game.title }}
							label.label--subtitle {{ game.manufacturer }} &middot; {{ game.year }}

		.content-end

	//- right side menu
	.col-sm-3.col--menu
		h1 Filter
		hr

		// search box
		.input-group.padder-bottom
			span.input-group-addon.input-group-addon--search
				+icon('search').smaller
			input.form-control.input--search(ng-model="vm.q", type="text", placeholder="Search")

		input#includeEmptyGames.checkbox--toggle(type='checkbox', ng-model="vm.includeEmptyGames")
		label(for="includeEmptyGames")
		label.a.a--light.padder-bottom(for="includeEmptyGames") Include empty games
		.clearfix

		.panel-group--transparent(uib-accordion, close-others="false")

			// year filter
			panel--inner(uib-accordion-group, is-open="vm.filterYearOpen")
				div(uib-accordion-heading) by Year
				.row
					.col-xs-6.text-center.a(filter-decade="1960") 1960s
					.col-xs-6.text-center.a(filter-decade="1970") 1970s
					.col-xs-6.text-center.a(filter-decade="1980") 1980s
					.col-xs-6.text-center.a(filter-decade="1990") 1990s
					.col-xs-6.text-center.a(filter-decade="2000") 2000s
					.col-xs-6.text-center.a(filter-decade="2010") 2010s

			// manufacturer filter
			.panel--inner(uib-accordion-group, is-open="vm.filterManufacturerOpen")
				div(uib-accordion-heading) by Manufacturer
				.row
					.col-xs-6.text-center.a(filter-manufacturer="Bally") Bally
					.col-xs-6.text-center.a(filter-manufacturer="Capcom") Capcom
					.col-xs-6.text-center.a(filter-manufacturer="Stern") Stern
					.col-xs-6.text-center.a(filter-manufacturer="Williams") Williams
					.col-xs-6.text-center.a(filter-manufacturer="Gottlieb") Gottlieb
					.col-xs-6.text-center.a(filter-manufacturer="Data East") Data East

		h1 Sort
		hr
		ul.list--sort-options
			li.a.asc(sort="title", d="asc") Name
			li.a(sort="year", d="asc") Year
			li.a(sort="rating", d="desc") Rating
			li.a(sort="popularity", d="desc") Popularity

		//-- UPLOAD BUTTONS
		//---------------------------------------------------------------------
		.panel--rect-block.padder-top-2x(ng-show="vm.AuthService.hasPermission('games/add')")
			h1.text-center UPLOAD

			.center
				ul.ul--no-list
					li: a.text-center(ui-sref="vm.addGame")
						+icon('plus-circle').space-right.shift-up
						| Add Game
			p.padder-top
