/*
 * VPDB - Virtual Pinball Database
 * Copyright (C) 2018 freezy <freezy@vpdb.io>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

//
// Dark theme
// --------------------------------------------------
.theme-dark

	// News flow on the home page
	.media--news hr
		border-color $color-darkest

	// Mini media panels in the side bar
	.media--mini
		border-bottom solid 2px $color-darkest


//
// Light theme
// --------------------------------------------------
.theme-light

	// Mini media panels in the side bar
	.media--mini
		border-bottom solid 2px $color-darkest-inv

	.media--mini-noborders
		border none

	.media--selectable:hover
		background-color $color-darkest-inv
	.media--selectable.active
		color $color-lightest
		background-color $color-primary-black
