/*
 * VPDB - Virtual Pinball Database
 * Copyright (C) 2018 freezy <freezy@vpdb.io>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

@import '../variables';

//
// Both themes
// --------------------------------------------------

$test = #7c7469
.theme-dark, .theme-light
	// VPDB logo
	.navbar-brand
		.svg-icon
			&.logo
				fill $color-primary
				filter drop-shadow(0px 0px 4px rgba(0,0,0,0.5))
			&.logo-vp
				fill $color-primary
				filter drop-shadow(0px 0px 4px rgba(0,0,0,0.5))
			&.logo-db
				fill $color-lighter
				filter drop-shadow(0px 0px 4px rgba(0,0,0,0.5))
		.logo-beta
			color rgba(white, 0.65)
		a:hover
			.logo
				fill $test
				filter none
			.logo-vp
				fill $test
				filter none
			.logo-db
				fill $test
				filter none

	// Navbar nav links
	.navbar-default .navbar-nav
		> li a
			background-color transparent
			color $color-lighter
			.svg-icon
				fill $color-lighter
			&:hover, &:focus
				color $color-lightest
				.svg-icon
					fill $color-lightest
		> .active > a
			background-color $color-darkest
			color $color-primary
			.svg-icon
				fill $color-primary
			&:hover, &:focus
				background-color $color-darkest
				color $color-primary
				.svg-icon
					fill $color-primary

	// Dropdown menu states
	.navbar-default .navbar-nav > .open
		& > a, & > a:hover, & > a:focus
			color $color-primary
			background-color transparent
			.svg-icon
				fill $color-primary
			&.btn.btn-hollow
				border-color $color-primary


//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Default navbar
	.navbar-default
		background-color $color-navbar
		border-color $color-primary

		// responsive toggle button
		.navbar-toggle
			transition color $animation-short
			&:focus
				color $color-primary
			&:hover
				color $color-lightest
		.navbar-collapse, .navbar-form
			border-color $color-primary


//
// Light theme
// --------------------------------------------------
.theme-light

	// Default navbar
	.navbar-default
		background-color $color-navbar-inv
		border-color $color-primary-black

