/*
 * VPDB - Virtual Pinball Database
 * Copyright (C) 2018 freezy <freezy@vpdb.io>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

//
// Dark theme
// --------------------------------------------------
.theme-dark

	table.table
		background-color transparent
		tr > th
			color $color-primary


	tr.error td
		color $color-danger-dark
		.svg-icon
			fill $color-danger-dark

	.table-striped > tbody > tr:nth-child(odd)
		background-color $color-darkest
		&.nostripe
			background-color transparent

	.table-double-striped >	tbody
		> tr:nth-child(4n + 1), > tr:nth-child(4n + 2)
			background-color $color-darkest

	.table--selectable tr:hover, tr.selectable:hover
		td
			color $color-lightest

//
// Light theme
// --------------------------------------------------
.theme-light

	table.table
		tr > th
			color $color-lighter-inv
		tr > th, tr > td
			border-color $color-darkest-inv

	.table-striped > tbody > tr:nth-child(odd)
		background-color $color-lightish
		&.nostripe
			background-color transparent

	.table-double-striped >	tbody
		> tr:nth-child(4n + 1), > tr:nth-child(4n + 2)
			background-color $color-lightish

	.table-triple-striped >	tbody
		> tr:nth-child(6n + 1), > tr:nth-child(6n + 2), > tr:nth-child(6n + 3)
			background-color $color-lightish

	.table--selectable tr:hover td
		color $color-lightest-inv
	.table--selectable.primary tr:hover td
		background $color-dark

	.table--inner-border
		tr
			> td, > th
				border-bottom-color #cbcaca
		tr th
			border-right-color #cbcaca

	.table--selectable tr:hover, tr.selectable:hover
		td
			color $color-lightest-inv
