/*
 * VPDB - Virtual Pinball Database
 * Copyright (C) 2018 freezy <freezy@vpdb.io>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

$color-tooltip-bg-dark = rgba(16, 16, 16, 0.9);

//
// Dark theme
// --------------------------------------------------
.theme-dark

	.tooltip-inner
		color $color-lighter
		background-color $color-tooltip-bg-dark

	.tooltip
		&.right .tooltip-arrow
			border-right-color $color-tooltip-bg-dark
		&.top .tooltip-arrow
			border-top-color $color-tooltip-bg-dark
		&.bottom .tooltip-arrow
			border-bottom-color $color-tooltip-bg-dark
		&.left .tooltip-arrow
			border-left-color $color-tooltip-bg-dark

//
// Light theme
// --------------------------------------------------
.theme-light

	.tooltip-inner
		background-color rgba(120,120,120,0.85)

	.tooltip.top .tooltip-arrow
		border-top-color rgba(120,120,120,0.85)
	.tooltip.right .tooltip-arrow
		border-right-color rgba(120,120,120,0.85)