include ../template/_mixins

//-- USER DATA
//-----------------------------------------------------------------------------
.form-group.padder-top(ng-class="{ error: vm.errors.name }")
	label.col-sm-3.control-label Display Name
	.col-sm-7
		.input-group
			input.form-control(type="text", ng-model="vm.updatedUser.name")
			span.input-group-addon(uib-tooltip="Name is publicly visible.", tooltip-placement="right", tooltip-append-to-body="true")
				+icon('public').small

	.clearfix
	div.alert.alert-danger(ng-show="vm.errors.name")
		+icon('warning').shift-up.space-right
		| {{ vm.errors.name }}

.form-group(ng-class="{ error: vm.errors.location }")
	label.col-sm-3.control-label Location
	.col-sm-7
		.input-group
			input.form-control(type="text", ng-model="vm.updatedUser.location")
			span.input-group-addon(uib-tooltip="Location is publicly visible.", tooltip-placement="right", tooltip-append-to-body="true")
				+icon('public').small
	.clearfix
	div.alert.alert-danger(ng-show="vm.errors.location")
		+icon('warning').shift-up.space-right
		| {{ vm.errors.location }}

.form-group(ng-class="{ error: vm.errors.email }")
	label.col-sm-3.control-label Email
	.col-sm-7
		input.form-control(type="text", ng-model="vm.updatedUser.email", ng-disabled="vm.AuthService.user.email_status.code === 'pending_update'")
	.clearfix
	.col-sm-offset-3.col-sm-7(ng-show="vm.AuthService.user.email_status.code === 'pending_update'")
		+icon('arrow-right').shift-up
		| Email update pending ({{ vm.AuthService.user.email_status.value }}).
		a.pull-right(ng-click="vm.abortEmailUpdate()")
			+icon('times').shift-up.space-right-less
			| Abort
		p.padder-bottom

	div.alert.alert-danger(ng-show="vm.errors.email")
		p
			+icon('warning').shift-up.space-right
			| {{ vm.errors.email }}

.col-sm-offset-3.col-sm-7
	button.btn.btn-default.pull-right(ng-click="vm.updateUserProfile()")
		+icon('check-circle').space-right
		| Save
.clearfix

//- LOCAL REGISTRATUION
//-----------------------------------------------------------------------------
.span(ng-hide="vm.AuthService.user.provider === 'local'")

	h1 Local Credentials
	hr
	p: i You haven’t registered at VPDB yet, but you can add local credentials below, which allow you to login even if the third party provider is down or refuses your credentials.

	form.form-horizontal.padder-top-3x(role="form")

		.form-group(ng-class="{ error: vm.errors.username }")
			label.col-sm-3.control-label Username
			.col-sm-7
				input.form-control(type="text", ng-model="vm.localCredentials.username")
			.clearfix
			div.alert.alert-danger(ng-show="vm.errors.username")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.username }}

		.form-group(ng-class="{ error: vm.errors.password }")
			label.col-sm-3.control-label Password
			.col-sm-7
				input.form-control(type="password", ng-model="vm.localCredentials.password1")
			.clearfix
			div.alert.alert-danger(ng-show="vm.errors.password")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.password }}

		.form-group(ng-class="{ error: vm.errors.password2 }")
			label.col-sm-3.control-label Confirm Password
			.col-sm-7
				input.form-control(type="password", ng-model="vm.localCredentials.password2")
			.clearfix
			div.alert.alert-danger(ng-show="vm.errors.password2")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.password2 }}

		.row
			.col-sm-offset-3.col-sm-7
				button.btn.btn-default.pull-right(ng-click="vm.createLocalCredentials()")
					+icon('plus-circle').space-right
					| Create local credentials
		.clearfix


//- CHANGE PASSWORD
//-----------------------------------------------------------------------------
.span(ng-show="vm.AuthService.user.provider === 'local'")

	h1 Change Password
	hr

	form.form-horizontal.padder-top-3x(role="form")

		.form-group
			label.col-sm-3.control-label Username
			.col-sm-7
				input.form-control(ng-model="vm.AuthService.user.username", disabled)

		.form-group(ng-class="{ error: vm.errors.current_password }")
			label.col-sm-3.control-label Current Password
			.col-sm-7
				input.form-control(type="password", ng-model="vm.localUser.currentPassword")
			.clearfix
			div.alert.alert-danger(ng-show="vm.errors.current_password")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.current_password }}

		.form-group(ng-class="{ error: vm.errors.password }")
			label.col-sm-3.control-label New Password
			.col-sm-7
				input.form-control(type="password", ng-model="vm.localUser.password1")
			.clearfix
			div.alert.alert-danger(ng-show="vm.errors.password")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.password }}

		.form-group(ng-class="{ error: vm.errors.password2 }")
			label.col-sm-3.control-label Confirm Password
			.col-sm-7
				input.form-control(type="password", ng-model="vm.localUser.password2")
			.clearfix
			div.alert.alert-danger(ng-show="vm.errors.password2")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.password2 }}

		.row
			.col-sm-offset-3.col-sm-7
				button.btn.btn-default.pull-right(ng-click="vm.changePassword()")
					+icon('check-circle').space-right
					| Change
		.clearfix


//- APPLICATION ACCESS TOKENS
//-----------------------------------------------------------------------------
.span(ng-show="vm.AuthService.user.provider === 'local'")
	h1 Application Access Tokens
	hr
	p(ng-hide="vm.AuthService.user.plan.app_tokens_enabled") This allows you to give other applications such as VPDB Agent full access to the API without having to hand over your password. However, application tokens are currently disabled for your current plan.
	p(ng-show="vm.AuthService.user.plan.app_tokens_enabled") This allows you to give other applications such as VPDB Agent full access to the API without having to hand over your password. You can delete or temporarily disable these tokens any time.

	.alert.alert-success.padder-bottom(ng-show="vm.showTokenAlert")
		+icon('warning').shift-up.space-right
		| Make sure to copy your new application access token now. You won't be able to see it again!

	table.table.table-striped(ng-show="vm.tokens.length")
		thead
			tr
				th Application Name
				th Active
				th Expires
				th Last used
				th(colspan="2") Actions
		tbody
			tr(ng-repeat="token in vm.tokens")
				td(ng-show="token.token", colspan="2")
					tt {{ token.token }}
					span(uib-tooltip="Copy to clipboard", tooltip-placement="right", ngclipboard, data-clipboard-text="{{ token.token }}", ngclipboard-success="vm.onTokenCopied()"): +icon('clipboard').a.a--lighter.shift-up.space-left
				td(ng-hide="token.token"): b.space-left {{ token.label }}
				td(ng-hide="token.token")
					+icon("{{ token.is_active ? 'check' : 'times' }}")
				td {{ token.expires_at | timeAgo }}
				td
					span(ng-show="token.last_used_at") {{ token.last_used_at | timeAgo }}
					span(ng-hide="token.last_used_at") never
				td.td--icon: +icon("{{ token.is_active ? 'times' : 'check' }}")(ng-click="vm.toggleToken(token)").a.shift-up
				td.td--icon: +icon('trash')(ng-click="vm.deleteToken(token)").a.shift-up

	button.btn.btn-default.pull-right(ng-click="vm.createToken()", ng-show="vm.AuthService.user.plan.app_tokens_enabled")
		+icon('plus-circle').space-right
		| New Token
	.clearfix


//- LINKED ACCOUNTS
//-----------------------------------------------------------------------------
h1 Linked Accounts
hr

table.table.table-striped(ng-show="vm.providers.length")
	thead
		tr
			th(colspan="2") Provider
			th Username
			th User ID
			th Last logged
	tbody
		tr(ng-repeat="provider in vm.providers")
			td.td--big-icon
				+icon('{{ provider.icon }}')
			td
				b {{ provider.name }}
			td {{ vm.AuthService.user[provider.id].username }}
			td {{ vm.AuthService.user[provider.id].id }}
			td -

p(ng-hide="vm.providers.length")
	i No linked accounts. Linked accounts appear when you choose to login with one of the supported third party providers. In order to link a third party account to this account, simply login using a third party account where you registered with the same email address.
