include ../../template/_mixins

#login-modal.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('lock').space-right
			| &nbsp;Login
	.modal-body
		div.alert.alert--modal-top-alert.padder-bottom(ng-show="vm.headMessage")
			+icon('info').space-right.shift-up-less
			| {{ vm.headMessage }}

		.span(ng-hide="vm.LoginService.loginParams.localOnly")
			h3.h--shift-up Login with
			.text-center
				a.btn.btn--secondary.btn-lg.padder-bottom(ng-repeat="ipb in vm.Config.authProviders.ips", ng-click="vm.oauth(ipb.id)")
					+icon('{{ ipb.icon }}').space-right
					| {{ ipb.name }}
				a.btn.btn--secondary.btn-lg.padder-bottom(ng-show="vm.Config.authProviders.google", ng-click="vm.oauth('google')")
					+icon('google-g').space-right
					| Google
				a.btn.btn--secondary.btn-lg.padder-bottom(ng-show="vm.Config.authProviders.github", ng-click="vm.oauth('github')")
					+icon('github').space-right
					| GitHub
			hr.hr--light
			.clearfix

		div.alert.alert-success.padder-bottom(ng-show="vm.topMessage")
			+icon('info').space-right.shift-up
			| {{ vm.topMessage }}

		//- LOGIN
		div(ng-show="vm.mode === 'login'")
			h3.h--shift-up(ng-hide="vm.LoginService.loginParams.localOnly") Or, with your account:
			h3.h--shift-up(ng-show="vm.LoginService.loginParams.localOnly") Login with your account:
			form.form-horizontal(role='form')
				.form-group
					label.col-sm-4.control-label Username
					.col-sm-6
						input#login-username.form-control(ng-model="vm.userPass.username", ng-required, autocomplete="username")
				.form-group
					label.col-sm-4.control-label Password
					.col-sm-6
						input#login-password.form-control(ng-model="vm.userPass.password", type="password", ng-keyup="$event.keyCode === 13 && vm.login()", autocomplete="current-password")
						i.a.pull-right(ng-click="vm.swap('reset')") Forgot password?

		//- REGISTER
		div(ng-show="vm.mode === 'register'")
			h3.h--shift-up(ng-hide="vm.LoginService.loginParams.localOnly") Or, register with your Email:
			h3.h--shift-up(ng-show="vm.LoginService.loginParams.localOnly") Register with your Email:
			form.form-horizontal(role="form")
				.form-group(ng-class="{ error: vm.errors.email }")
					label.col-sm-4.control-label Email
					.col-sm-6
						input#register-email.form-control(ng-model="vm.email", ng-required, autocomplete="email")
				.form-group(ng-class="{ error: vm.errors.username }")
					label.col-sm-4.control-label Username
					.col-sm-6
						input#register-username.form-control(ng-model="vm.userPass.username", ng-required, autocomplete="username")
				.form-group(ng-class="{ error: vm.errors.password }")
					label.col-sm-4.control-label Password
					.col-sm-6
						input#register-password.form-control(ng-model="vm.userPass.password", type="password", autocomplete="new-password")

		//- RESET
		div(ng-show="vm.mode === 'reset'")
			h3.h--shift-up(ng-hide="vm.LoginService.loginParams.localOnly") Oh. So you forgot your password.
			h3.h--shift-up(ng-show="vm.LoginService.loginParams.localOnly") Duh. So you forgot your password.
			p.padder-top.padder-bottom.text-center Let's fix that. Enter your email address and we'll send you a link where you can create a new one.
			form.form-horizontal(role="form")
				.form-group(ng-class="{ error: vm.errors.email }")
					label.col-sm-4.control-label Email
					.col-sm-6
						input#reset-email.form-control(ng-model="vm.email", ng-required, autocomplete="email")

		//- ERRORS
		div.alert.alert-danger(ng-show="vm.errors.email")
			+icon('warning').space-right.shift-up
			| {{ vm.errors.email }}
		div.alert.alert-danger(ng-show="vm.errors.username")
			+icon('warning').space-right.shift-up
			| {{ vm.errors.username }}
		div.alert.alert-danger(ng-show="vm.errors.password")
			+icon('warning').space-right.shift-up
			| {{ vm.errors.password }}
		div.alert.alert-danger(ng-show="vm.error")
			+icon('warning').space-right.shift-up
			| {{ vm.error }}
		div.alert.alert-success(ng-show="vm.message")
			+icon('info').space-right.shift-up
			| {{ vm.message }}

		.text-center.padder-top.i(ng-show="vm.message2", ng-bind-html="vm.message2")

	.modal-footer

		.form-group(ng-show="vm.mode === 'login'")
			.col-sm-4
				input#rememberMe.checkbox--check(ng-model="vm.$localStorage.rememberMe", type="checkbox")
				label.checkbox--standalone.nested(for="rememberMe")
			label.col-sm-8.control-value(for="rememberMe") Remember Me

			.clearfix
		hr.hr--light.padder-top-4x(ng-show="vm.mode === 'login'")
		.clearfix

		h3#login-toggle.h--smaller.h--no-margin.a.a--lighter.pull-left(ng-hide="vm.mode === 'reset' || vm.loading", ng-click="vm.swap()") {{ vm.mode === 'login' ? 'Register' : 'Login' }}
		button#dismiss-button.btn.btn-default(ng-click="$close()" ng-disabled="vm.loading") Cancel
		button#login-submit.btn.btn--secondary(ng-show="vm.mode === 'login'", ng-click="vm.login()" ng-disabled="vm.loading") Login
		button#register-submit.btn.btn--secondary(ng-show="vm.mode === 'register'", ng-click="vm.register()" ng-disabled="vm.loading") Register
		button#reset-submit.btn.btn--secondary(ng-show="vm.mode === 'reset'", ng-click="vm.reset()" ng-disabled="vm.loading") Reset
