include ../../template/_mixins
#password-reset-modal.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('lock').space-right
			| &nbsp;Reset Password
	.modal-body

		p.text-center.padder-bottom.padder-top What's your new password?
		form.form-horizontal(role='form')
			.form-group(ng-class="{ error: vm.errors.password }")
				label.col-sm-4.control-label Password
				.col-sm-6
					input#register-password.form-control(ng-model="vm.password", type="password", autocomplete="new-password")

		//- ERRORS
		div.alert.alert-danger(ng-show="vm.errors.password")
			+icon('warning').space-right.shift-up
			| {{ vm.errors.password }}
		div.alert.alert-danger(ng-show="vm.errors.token")
			+icon('warning').space-right.shift-up
			| {{ vm.errors.token }}
		div.alert.alert-danger(ng-show="vm.error")
			+icon('warning').space-right.shift-up
			| {{ vm.error }}

		.text-center.padder-top.i(ng-show="vm.message2", ng-bind-html="vm.message2")

	.modal-footer

		button#dismiss-button.btn.btn-default(ng-click="$close()") Cancel
		button#reset-submit.btn.btn--secondary(ng-click="vm.update()") Update
