include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('{{ vm.data.icon }}').space-right
			span {{ vm.data.title }}
	.modal-body
		p {{ vm.data.message }}
		p.text-center: b {{ vm.data.question }}

	.modal-footer
		button#modal-no.btn.btn-default(ng-click="$dismiss()") {{ vm.data.no }}
		button#modal-yes.btn.btn--secondary(ng-click="$close()") {{ vm.data.yes }}
