include ../template/_mixins

.theme-light(ng-controller="ModalCtrl as vm")
	.modal-header
		h1.h--no-margin.h--small
			+icon('{{ vm.data.icon }}').space-right
			| &nbsp;{{ data.title }}
	.modal-body
		h4 {{ data.subtitle }}
		p(ng-bind-html="vm.data.message")

	.modal-footer
		button.btn.btn-default(ng-click="$close()") {{ data.close }}
