include ../template/_mixins

#info-error-modal.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('{{ vm.data.icon }}').space-right
			span {{ vm.data.title }}
	.modal-body
		h4 {{ vm.data.subtitle }}
		p(ng-bind-html="vm.data.message")

	.modal-footer
		button#modal-close.btn.btn-default(ng-click="$close()") {{ vm.data.close }}
