include ../../../../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('cube').space-right
			| Loading model...
	.modal-body
		uib-progressbar.progress-striped.active(value="vm.progress", max="100")

		.text-center {{ vm.progress }}%
