include ../../../../template/_mixins

.info-block(ng-class="{ 'info-block--error': !!vm.errorMessage }", ng-if="!vm.isLoaded")
	div
		h3
			+icon('{{ vm.errorMessage ? "warning" : "cube" }}').shift-up.space-right-2x
			span.space-left-2x {{ vm.errorMessage ? vm.errorTitle : 'Loading...' }}
		div(ng-show="!vm.errorMessage")
			uib-progressbar.active(value="vm.percentLoaded", max="100")
		div(ng-show="vm.errorMessage")
			p {{ vm.errorMessage }}
			hr.padder-top-2x
			a(ui-sref="releaseDetails({id: vm.gameId, releaseId: vm.releaseId})")
				+icon('arrow-left').shift-up-less.space-right-2x
				| Back to release

#gl-view

.preview-controls(ng-class="{ loaded: vm.isLoaded }")
	.row
		.col-xs-11.col-sm-5.col-xs-offset-1.text-nowrap
			+icon('sun')
			rzslider(rz-slider-model="vm.scene.globalLightsIntensity", rz-slider-options="vm.scene.globalLightsSliderOptions")
		.col-xs-11.col-xs-offset-1.col-sm-offset-0.col-sm-5.text-nowrap
			+icon('lightbulb')
			rzslider(rz-slider-model="vm.scene.bulbLightsIntensity", rz-slider-options="vm.scene.bulbLightsSliderOptions")
