include ../template/_mixins

.ratingbox__left-col
	.ratingbox__rating.rating-user(ng-class="{ 'rating-10': ratingVm.ratingHover == 10, 'color-primary': ratingVm.boxHovering }") {{ ratingVm.rating | ratingFormat }}
.ratingbox__right-col
	span.rating-stars(ng-mouseleave="ratingVm.rateEnd()")
		each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
			span.star-wrapper(
				ng-mouseover=`ratingVm.rateStart(${val})`,
				ng-click=`ratingVm.rate(${val})`,
				ng-class=`{ 'star-on': ratingVm.value >= ${val}, 'star-off': ratingVm.value < ${val}, selecting: ratingVm.boxHovering }`
			)
				+icon(val % 2 ? 'star-left' : 'star-right').star
	span.votes(ng-show="ratingVm.numVotes") {{ ratingVm.numVotes | number }} vote{{ ratingVm.numVotes == 1 ? '' : 's' }}
	span.votes(ng-hide="ratingVm.numVotes") no votes